.Rproj.user
.Rhistory
.RData
.Ruserdata

#Ignore testing R code
Joint\ Logistic\ CPMs.R
Simple\ Linear\ Example.R

#Ignore R script to analyse the MIMIC data and ignore the mimic data files themselves
MIMIC\ Analysis.R
mimiccohort.csv
MIMIC_Imputed.RData

#Ignore the Outputs folder, which contains draft manuscripts
Outputs/