.Rproj.user
.Rhistory
.RData
.Ruserdata

#Ignore R script to analyse the MIMIC data and ignore the mimic data files themselves
04_MIMIC Analysis.R
mimiccohort.csv
MIMIC_Development_Imputed.RData
MIMIC_Validation_Imputed.RData

#Ignore the Outputs folder, which contains draft manuscripts
Outputs/