.Rproj.user
.Rhistory
.RData
.Ruserdata

#Ignore testing R code
Joint\ Logistic\ CPMs.R
Simple\ Linear\ Example.R

#Ignore R script to analyse the MIMIC data
MIMIC\ Analysis.R

#Ignore the Outputs folder, which contains draft manuscripts
Outputs/